@media (max-width: 768px) {
    .color {
      .article {
        background-color: #f1f0f6;
        margin-right: 0;
        width: auto;
        flex-direction: column;
        
        .author-picture {
          padding: 15px 0;
          text-align: center;
          
          img {
            width: 250px;
            border-radius: 10%;
          }
        }
        
        .author-personal {
          margin: 20px;
          
          .author-fullname {
            font-size: 2.4rem;
            margin-bottom: 20px;
          }
          
          .author-achieve {
            width: auto;
          }
        }
      }
    }
  }
  