.footer {
    background: url(../../img/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 1300px;
    .review-title>p {
        z-index: 1;
        position: relative;
        margin-top: -35px;
        padding-bottom: 60px;
        font-size: 85px;
        font-family: "Ysabeau SC", sans-serif;
        text-align: justify;
        letter-spacing: 40px;
        line-height: 90px;
    }
    .review-blocks {
        display: flex;
        align-items: flex-start;
        .review {        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 3%;
            background-color: #ffffffa8;
            margin: 20px;
            --e-column-margin-right: 20px;
            --e-column-margin-left: 20px;
            padding: 20px;
            position: relative;
            max-width: 355px;
            min-height: 365px;
            .review-text {
                color: #4b4f84;
                font-family: "Tektur", cursive;
            }
            .reviews {
                display: flex;
                flex-direction: column;
                .reviews-names {
                    border-top: 1px solid;
                    padding: 5px;
                    font-size: 1.2rem;
                    line-height: 1.25em;
                    font-weight: 400;
                    font-family: 'DM Serif Display',serif;
                  }
            }
        }
    }
}